In [16]:
import pandas as pd
import numpy as np

In [54]:
sat = pd.read_excel('data/UCS-Satellite-Database.xlsx')
sat.head()
print(sat.shape)
sat.dropna(axis=1, how='all', inplace=True)

(6718, 67)

In [49]:
useable_data = sat.columns[0:24]
sat_cleaned = sat[useable_data]
sat_cleaned.head()

,Current Official Name of Satellite,Country/Org of UN Registry,Country of Operator/Owner,Operator/Owner,Users,Purpose,Detailed Purpose,Class of Orbit,Type of Orbit,Longitude of GEO (degrees),...,Period (minutes),Launch Mass (kg.),Dry Mass (kg.),Power (watts),Date of Launch,Expected Lifetime (yrs.),Contractor,Country of Contractor,Launch Site,Launch Vehicle
0,1HOPSAT-TD,NR,USA,Hera Systems,Commercial,Earth Observation,Infrared Imaging,LEO,Non-Polar Inclined,0.0,...,96.08,22.0,NaN,NaN,2019-12-11 00:00:00,0.5,Hera Systems,USA,Satish Dhawan Space Centre,PSLV
1,Aalto-1,Finland,Finland,Aalto University,Civil,Technology Development,NaN,LEO,Sun-Synchronous,0.0,...,94.70,4.5,NaN,4.5,2017-06-23 00:00:00,2.0,Aalto University,Finland,Satish Dhawan Space Centre,PSLV
2,AAt-4,Denmark,Denmark,University of Aalborg,Civil,Earth Observation,Automatic Identification System (AIS),LEO,Sun-Synchronous,0.0,...,95.90,1.0,NaN,NaN,2016-04-25 00:00:00,NaN,University of Aalborg,Denmark,Guiana Space Center,Soyuz-2.1a
3,ABS-2,NR,Multinational,Asia Broadcast Satellite Ltd.,Commercial,Communications,NaN,GEO,NaN,75.0,...,1436.03,6330.0,NaN,16000,2014-02-06 00:00:00,15.0,Space Systems/Loral,USA,Guiana Space Center,Ariane 5 ECA
4,ABS-2A,NR,Multinational,Asia Broadcast Satellite Ltd.,Commercial,Communications,NaN,GEO,NaN,-75.0,...,1436.10,1800.0,NaN,NaN,2016-06-15 00:00:00,15.0,Boeing Satellite Systems,USA,Cape Canaveral,Falcon 9

In [55]:
sat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6718 entries, 0 to 6717
Data columns (total 67 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Current Official Name of Satellite  6718 non-null   object
 1   Country/Org of UN Registry          6718 non-null   object
 2   Country of Operator/Owner           6718 non-null   object
 3   Operator/Owner                      6718 non-null   object
 4   Users                               6718 non-null   object
 5   Purpose                             6718 non-null   object
 6   Detailed Purpose                    1167 non-null   object
 7   Class of Orbit                      6718 non-null   object
 8   Type of Orbit                       6077 non-null   object
 9   Longitude of GEO (degrees)          6716 non-null   float64
 10  Perigee (km)                        6718 non-null   int64
 11  Apogee (km)                         6718 non-null   int64
 12  Eccentricity                        6718 non-null   float64
 13  Inclination (degrees)               6718 non-null   object
 14  Period (minutes)                    6674 non-null   float64
 15  Launch Mass (kg.)                   6475 non-null   float64
 16  Dry Mass (kg.)                      444 non-null    object
 17  Power (watts)                       581 non-null    object
 18  Date of Launch                      6718 non-null   object
 19  Expected Lifetime (yrs.)            4804 non-null   float64
 20  Contractor                          6718 non-null   object
 21  Country of Contractor               6718 non-null   object
 22  Launch Site                         6718 non-null   object
 23  Launch Vehicle                      6718 non-null   object
 24  COSPAR Number                       6718 non-null   object
 25  NORAD Number                        6718 non-null   int64
 26  Comments                            1836 non-null   object
 27  Unnamed: 27                         4 non-null      object
 28  Source Used for Orbital Data        6426 non-null   object
 29  Source                              3209 non-null   object
 30  Source.1                            729 non-null    object
 31  Source.2                            1856 non-null   object
 32  Source.3                            1136 non-null   object
 33  Source.4                            735 non-null    object
 34  Source.5                            554 non-null    object
 35  Source.6                            504 non-null    object
 36  Unnamed: 36                         484 non-null    object
 37  Unnamed: 37                         484 non-null    object
 38  Unnamed: 38                         484 non-null    object
 39  Unnamed: 39                         484 non-null    object
 40  Unnamed: 40                         484 non-null    object
 41  Unnamed: 41                         484 non-null    object
 42  Unnamed: 42                         484 non-null    object
 43  Unnamed: 43                         484 non-null    object
 44  Unnamed: 44                         484 non-null    object
 45  Unnamed: 45                         484 non-null    object
 46  Unnamed: 46                         484 non-null    object
 47  Unnamed: 47                         484 non-null    object
 48  Unnamed: 48                         484 non-null    object
 49  Unnamed: 49                         484 non-null    object
 50  Unnamed: 50                         484 non-null    object
 51  Unnamed: 51                         484 non-null    object
 52  Unnamed: 52                         484 non-null    object
 53  Unnamed: 53                         484 non-null    object
 54  Unnamed: 54                         484 non-null    object
 55  Unnamed: 55                         484 non-null    object
 56  Unnamed: 56                         484 non-null    object
 57  Unnamed: 57                         484 non-null    object
 58  Unnamed: 58                         484 non-null    object
 59  Unnamed: 59                         487 non-null    object
 60  Unnamed: 60                         487 non-null    object
 61  Unnamed: 61                         486 non-null    object
 62  Unnamed: 62                         484 non-null    object
 63  Unnamed: 63                         484 non-null    object
 64  Unnamed: 64                         484 non-null    object
 65  Unnamed: 65                         486 non-null    object
 66  Unnamed: 66                         484 non-null    object
dtypes: float64(5), int64(3), object(59)
memory usage: 3.4+ MB

In [51]:
sat_cleaned.isna().sum()

USA                           4511
China                          586
United Kingdom                 561
Russia                         177
Japan                           88
                              ...
United Kingdom/Netherlands       1
Laos                             1
China                            1
USA/Canada                       1
China/Italy                      1
Name: Country of Operator/Owner, Length: 104, dtype: int64